html
  head
    title Click and Buy
    link(rel='stylesheet', href='/css/style.css')
  body
    header 
      h1 Click and Buy
    nav
      ul
        li
          a(href='/') Home 
        li 
          a(href='/shop') Shop 
        li 
          a(href='/cart') Cart
        li
          a(href='/signup') Signup
        li
          a(href='/login') Login
    main
      block content
    footer
      p Copyright © Click and Buy
