html
  head
    title Click and Buy
    link(rel='stylesheet', href='/css/style.css')
  body
    header 
      h1 Click and Buy
    nav
      ul
        li
          a(href='#') Home
        li
          a(href='#') Shop
        li
          a(href='#') Cart
        li
          a(href='#') Signup
        li
          a(href='#') Login
    main
      block content
    footer
      p Copyright © Click and Buy
